@charset "UTF-8";

body{    
    font-size: 18px;
    margin: 5%;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

h1{
    font-size: 2.4rem;
    color: #191970;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #808080;
}

h2{
    font-size: 2.2remx;
    color: #191970;
}

h3{
    font-size: 2.2rem;
    color: #191970;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #808080;
}

p{
    font-size: 1.8rem;
}

ul{    
    font-size: 1.8rem;
}

/* about <a> tag */
a:link{
    color: #FE2EF7;
    text-decoration: none;
}

a:visited{
    color: #FE9A2E;
    text-decoration: none;
}

a:active{
    color: #FE2EF7;
    text-decoration: none;
}
