@charset "UTF-8";

body{
    margin: 5%;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

h1{
    border: 1px;
    border-color: #00D0FF transparent;
    border-style: solid;
    width: 85%;
    margin:  20px auto 0;
    padding: 5px 0;
    text-align: center;
}

h2{
    border: 1px;
    border-color: #0090FF transparent;
    border-style: double;
    width: 85%;
    margin:  20px auto 0;
    padding: 5px 0;
    text-align: center;
}

h3{
    border: 1px;
    border-color: #77FF00 transparent;
    border-style: solid;
    border-width: medium;
    width: 85%;
    margin:  20px auto 0;
    padding: 5px 0;
    text-align: center;
}

p{
    width: 75%;
    margin:  0 auto;
    padding: 10px;
    text-align: left;    
}

ul.left{
    width: 70%;
    margin:  0 auto;
    padding: 10px;
    text-align: left;
    list-style-type: disc;
}

.bottom{
    border: 1px;
    border-color: #FF00FF transparent transparent transparent;
    border-style: solid;
    width: 85%;
    margin:  20px auto 0;
    padding: 5px 0;
    text-align: center;
}

.book_title{
    border-bottom:1px solid;
    border-color: #FF7700;
    width: 75%;
    margin: 10px auto;
    padding: 0;
    text-align: center;   
    font-weight: bold;

}

.book_description{
    width: 65%;
    margin:  0 auto;
    padding: 10px 0;
    text-align: left;   
}

